@model V20240408.EntidadesDeNegocio.PersonaV

@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-success">Eliminar</h2>

<h4 class="text-danger">¿Seguro que quieres eliminar este registro?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimientoV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimientoV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sueldoV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sueldoV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstatusV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstatusV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComentarioV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComentarioV)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-outline-secondary" />
        <a class="btn btn-outline-danger" asp-action="Index">Cancelar</a>
    </form>
</div>
